.category-page{
    display: flex;
    flex-direction: column;
    top:70px;
    position: relative;
    align-items: center;
}
.category-video{
    width:100%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    iframe{
        zoom: 2.2;
        @media (max-width:768px){
            zoom: 1.3;
        }
        @media (max-width:360px){
            zoom: 1.1;
        }
    }
}

.category-title{
    width: 25%;
    font-size: 40px;
    z-index: 3;
    color: white;
    background-color: rgba(135,135,135,0.44);
    position: absolute;
    margin: auto;
    @media (max-width:768px){
        font-size: 24px;
    }
}
.items{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    @media (max-width:768px){
        width:90%;
        flex-direction: column;
        align-items: center;
    }
}