.position{
    display: flex;
    position: absolute;
    z-index: 2;
    top:50%;
    left:38%;
    .logo{
        width:400px;
        height:auto;
    
        path{
            fill:white;
        }
    }
}
