.position{
    display: block;
    width: 25%;
    z-index: 2;
    text-align: center;
    position: relative;
    .logo{
        width:100%;
        height:auto;
        path{
            fill:white;
        }
    }
}
@media (max-width:768px){
    .position{
        width:50%;
    }
}