.cart{
    box-shadow: rgb(116, 116, 116) 0px 0px 5px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 11px 7px 7px 11px;
    outline: none;
    .svg{
        width: 50px;
        height: 50px;
    }
}