.header{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:rgba(black,0.5);
    position: fixed;
    top: 0;
    z-index: 3;
    .nav{
        height: 70px;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .languageselect{
        width: 15%;
        display: flex;
        padding-left: 10px;
        color: white;
        font-size: 20px;
        align-items: center;
        white-space:nowrap;
        button{
            font-size: 18px;
            color: white;
            background: none;
            border: none;
        }
    }
    .nav-list{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-logo{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .options {
        color: white;
        text-decoration: none;
        font-size: 20px;
        white-space:nowrap;
    }
    .header-icon{
        display: none;
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        height: 70px;
        width: 70px;
        align-items: center;
    }
    .logo{
        width:200px;
        height:65px;
        path{
            fill:white;
        }
    }
    .carticon{
        position: absolute;
        top: 18.5%;
        right: 1%;
        z-index: 3;
        align-items:center;
        justify-content: center;
        height:70px;
    }

    .dropdown{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title{
            color: white;
            text-decoration: none;
            font-size: 20px;
            white-space:nowrap;
        }
    }
    
}
.nav-overlay{
    .overlay{
        display: none;
        top:70px;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(black,0.5);
        z-index: 3;
        @media (max-width:768px){
            display: block;
        }
    }
}
