.cartnav{
    height: 100%; 
    width: 360px; 
    position: fixed; 
    z-index: 4; 
    top: 0; 
    right: 0;
    background-color: lightgray; 
    overflow-x: hidden; 
    padding-top: 20px;

    .cartitems{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }
}