.footer{
    display: block;
    margin-top: 70px;
    width: 100%;
    overflow-x: hidden;
    .footer-bar{
    height: 150px;
    width: 100%;
    background-color: black;
    position: relative;
    overflow-x: hidden;
    .marquee{
        display: flex;
        align-items: center;
        height:100%;
        position: absolute;
        transform: translateX(-100%);
        animation: marquee 10s linear infinite;
        img{
            height:80%;
            width:auto;  
        }
        p{
            color: white;
            font-size: 24px;
            padding:20px;
        }
    }
    
    @keyframes marquee {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(550%);
        }
    }
    }
    .footer-detail{
        display:flex;
        margin: 10px auto;
        justify-content: space-around;
        @media (max-width:768px){
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        span{
            font-weight: bold;
            font-size: 20px;
            @media (max-width:768px){
                font-size: 12px;
            }
        }
        .aboutus{
            display: block;
            width:25%;
            text-align: center;
            @media (max-width:768px){
                width: 100%;
            }
            .link{
                display: block;
                text-decoration: solid;
                color: grey;
                font-size:20px;
            }
        }
        .news{
            display: block;
            @media (max-width:768px){
                width: 100%;
            }
            .newsmail{
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    border-image: initial;
                    border-style: solid;
                    border-color: black;
                    font-size: 15px;
                    width: 250px;
                    height:40px;
                    @media (max-width:768px){
                        width: 150px;
                        height:20px;
                    }
                }
                input[type="submit"]{
                    color:white;
                    outline: none;
                    font-size: 15px;
                    background-color: black;
                    width:100px;
                    height:40px;
                    box-sizing: content-box;
                    cursor: pointer;
                    @media (max-width:768px){
                        width: 35px;
                        height:20px;
                        font-size: 10px;
                    }
                }
            }
        }
        .social-media {
            display: flex;
            justify-content: center;
            img{
                height: 48px;
                width: 48px;
                padding: 25px;
            }    
          }
    }   
}